.graph {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 10px;
    padding: 10px;
}

.link {
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: cap;
}

.node > rect {
    fill:green;
    rx: 5;
}

.node > rect:hover {
    fill: blue;
}

.node > text {
    fill: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    user-select: none;
}


.node.ood > rect {
    fill: lightgray;
}

.node.ok > rect {
    fill: green;
}

.node.err > rect {
    fill: red;
}

.node.fup > rect {
    fill: orange;
}