.link {
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: cap;
}

.node rect {
    fill:green;
    rx: 5;
}

.node text {
    fill: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    user-select: none;
}